body{
    margin: 0;
    padding: 0;
}
.logo{
    width: 5rem;

}

nav{
    display: flex;
    background-color: aqua;
    

}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    gap: 40px;
   
}

nav ul li{
    margin: 10px;
}
#top{
    padding-left: 500px;
}